<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/barra.css">

<div class="content">

            <% if (successMessage) { %>
                <div class="d-flex justify-content-center mt-3">
                    <div class="alert alert-success text-center" role="alert">
                <%= successMessage %>
            </div>
        </div>
            <% } %>
 

    <div class="seccion-botones">
        <br>
        <a href="/admin/eventos/register" class="boton-derecha">Registrar Eventos</a>
    </div>
    <br>
    <h1>Listado de Eventos</h1>
        <div class="lista-conocimientos">
            <table>
                <thead>
                    <tr>
                        <th>titulo</th>
                        <th>descripcion</th>
                        <th>ponentes</th>
                        <th>fecha</th>
                        <th>categoria</th>
                        <th>documentos</th>
                        <th>imagen</th>
                        <th>calle</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% eventos.forEach(evento => { %>
                        <tr>
                            <td><%= evento.titulo %></td>
                            <td><%= evento.descripcion %></td>
                            <td><%= evento.ponentes %></td>
                            <td><%= evento.fecha %></td>
                            <td>
                                <% categorias.forEach(function(categoria) { %>
                                    <% if (evento.categoriaId && evento.categoriaId == categoria.id) { %>
                                        <%= categoria.nombre %>
                                    <% } %>
                                <% }); %>
                            </td>

                            <td><% if (evento.documentos) { %>
                                    <a href="/uploads/eventos/documentos/<%= evento.documentos %>" target="_blank">Enlace al documento</a>
                                <% } %>
                            </td>
                            <td><% if(evento.imagen) {%>
                                <img  width="200px"    src="/uploads/eventos/imagen/<%= evento.imagen %>">
                            <% } %>
                            </td>
                            <td><%= evento.calle %></td>
                            <td class="acciones">
                                <button  type="submit">
                                    <a href="/eventos/<%= evento.id %>" class="btn btn-rojo">Ver</a>
                                </button>
                                <button>
                                    <a href="/admin/eventos/editar/<%= evento.id %>" class="btn btn-rojo">editar</a>
                                </button>
                                <button>
                                    <a href="/deleteeventos/<%= evento.id %>" class="btn btn-rojo">Eliminar</a>
                                </button>
                            </td>   
                        </tr>
                    <% }); %>
                </tbody>

            </table>
        </div>
</div>

<!-- ... (código posterior) ... -->

<script>
    // Función para encontrar la categoría por su ID
    function encontrarCategoria(categoriaId) {
        return categorias.find(categoria => categoria.id === categoriaId) || {};
    }
</script>