<div id="content">
    <div class="slider-sub">
      <div class="bg-img">
        <img src="/assets/images/banner/blog-portada.jpg" alt="banner" />
      </div>
      <div class="container">
        <div class="heading-nav gap-4 mt-32">
          <a class="hover-underline caption1 text-white" href="/"
            >Home</a
          ><i class="ph ph-caret-double-right text-white"></i>
          <div class="caption1 text-white">Blog</div>
        </div>
        <div class="text-nav">
          <div class="heading3 text-white">Blog</div>
          <div class="sub-heading mt-8 text-white fw-400">
            Discover valuable insights and expert advice on budgeting,
            investing, and retirement planning in our Financial Blogs section.
          </div>
        </div>
      </div>
    </div>





    <div class="blog-list mt-100">
      <div class="container">
        <div class="row row-gap-40">
          <% blogs.forEach(blog => { %>
          <div class="col-12 col-lg-8 flex-column row-gap-40">
            <a
              class="row blog-item row-gap-20 item-filter"
              href="blog-detail-one.html"
              data-name="tab-one"
            >
              <div class="col-12 col-md-6">
                <div class="bg-img w-100 overflow-hidden bora-16">
                  <img
                    class="w-100 h-100 display-block"
                    src="../../uploads/blogs/<%= blog.imagen %>"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div
                  class="caption2 pt-4 pb-4 pl-12 pr-12 bg-surface bora-40 display-inline-block"
                >
                <%- blog.categoria -%>
                </div>
                <div class="heading6 mt-8">
                  <%- blog.titulo -%>
                </div>
                <div class="date flex-item-center gap-16 mt-8">
                  <div class="author caption2 text-secondary">
                    by <span class="text-on-surface"><%- blog.user.userid -%>
                    </span>
                  </div>
                  <div class="item-date flex-item-center">
                    <i class="ph-bold ph-calendar-blank"></i
                    ><span class="ml-4 caption2"><%- blog.fecha -%></span>
                  </div>
                </div>
                <div class="body3 text-secondary mt-16 pb-16">
                  <%- blog.descripcion -%>
                </div>
                <div class="read fw-700 text-underline">Read More</div>
              </div></a
            ><a
              class="row blog-item row-gap-20 item-filter"
              href="blog-detail-one.html"
              data-name="tab-one"
            >
          </div>
          <% }); %>
        </div>
        <div class="list-nav flex-item-center gap-8" >
          <div
            class="nav-item bora-4 bg-surface text-button w-40 h-40 flex-center border-line-1px active"
            data-name="tab-one"
          >
            1
          </div>
          <div
            class="nav-item bora-4 bg-surface text-button w-40 h-40 flex-center border-line-1px"
            data-name="tab-two"
          >
            2
          </div>
          <div
            class="nav-item bora-4 bg-surface text-button w-40 h-40 flex-center border-line-1px"
            data-name="tab-three"
          >
            3
          </div>
        </div>
      </div>
    </div>


    <a class="scroll-to-top-btn" href="#header"
      ><i class="ph-bold ph-caret-up"></i
    ></a>
    <div class="pb-100"></div>
  </div>