
<div id="content">
 

  <div class="slider-sub ">
    <div class="bg-img"> <img src="assets/images/banner/cimarc-banner-noticias.png" alt="banner"/></div>
    <div class="container"> 
      <div class="heading-nav gap-4 mt-32"><a class="hover-underline caption1 text-white" href="/">Home</a><i class="ph ph-caret-double-right text-white"></i>
        <div class="caption1 text-white">Noticias</div>

      </div>
      <div class="text-nav"> 
        <div class="heading3 text-white">Noticias</div>
        <div class="sub-heading mt-8 text-white fw-400">Discover valuable insights and expert advice on budgeting, investing, and retirement planning in our Financial Blogs section.</div>
      </div>
    </div>
  </div>
<div class="blog-list mt-100">
<div class="container"> 
<div class="row row-gap-32">
  <% noticias.forEach(noticia => { %>
              <div class="blog-item col-12 col-xl-4 col-md-6 item-filter" data-name="tab-one"><a class="blog-item-main" href="/noticias/<%= noticia.id %>">
                  <div class="bg-img w-100 overflow-hidden mb-minus-1"><img class="w-100 h-100 display-block" src="../../uploads/noticias/<%= noticia.imagen %>" alt="Starting your traveling blog with Vasco"/></div>
                  <div class="infor bg-white p-24">
                    <div class="caption2 pt-4 pb-4 pl-12 pr-12 bg-surface bora-40 display-inline-block"><%- noticia.categoria -%></div>
                    <div class="heading6 mt-8"><%- noticia.titulo -%></div>
                    <div class="date flex-item-center gap-16 mt-8">
                      <div class="author caption2 text-secondary">by <span class="text-on-surface">  <%- noticia.user.email -%></span></div>
                      <div class="item-date flex-item-center"><i class="ph-bold ph-calendar-blank"></i><span class="ml-4 caption2"> <%- noticia.fecha-%></span></div>
                    </div>
                  </div></a></div>
                  <% }); %>

  <div class="list-nav flex-center gap-8 mt-40 col-12">
    <div class="nav-item bora-4 bg-surface text-button w-40 h-40 flex-center border-line-1px active" data-name="tab-one">1</div>
    <div class="nav-item bora-4 bg-surface text-button w-40 h-40 flex-center border-line-1px" data-name="tab-two">2</div>
    <div class="nav-item bora-4 bg-surface text-button w-40 h-40 flex-center border-line-1px" data-name="tab-three">3</div>
  </div>
</div>
</div>
</div><a class="scroll-to-top-btn" href="#header"><i class="ph-bold ph-caret-up"></i></a>
<div class="pb-100">    </div>
</div>
