<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/barra.css">
</head>
<body>
    
<div class="content">
  <div class="seccion-botones">
      <!-- Contenido principal de la página -->
      <a href="/admin/noticias" class="boton-derecha">Regresar</a>
  </div>
  <br> <br> <br>
  <div class="seccion-formulario">
    <h1>Registro de Noticias</h1>
    <form enctype="multipart/form-data" action="/updatenoticias/<%= noticia.id %>" method="POST">

        <label for="titulo">Título:</label>
        <input type="text" class="form-control" id="titulo" name="titulo" value="<%= noticia.titulo %>" required>

        <label for="fecha">Fecha:</label>
        <input type="date" class="form-control" id="fecha" name="fecha" value="<%= noticia.fecha %>" required>

        <label for="categoria">Categoría:</label>
        <input type="text" class="form-control" id="categoria" name="categoria" value="<%= noticia.categoria %>" required>

        <label for="descripcion">Descripción:</label>
        <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required><%= noticia.descripcion %></textarea>

        <label for="imagen">Imagen:</label>
        <!-- Muestra la imagen actual si existe -->
        <% if (noticia.imagen) { %>
            <img src="/uploads/noticias/<%= noticia.imagen %>" alt="Imagen actual" style="max-width: 200px; max-height: 200px;">
        <% } %>
        <input type="file" class="form-control-file" id="imagen" name="imagen" accept="image/*" >

        <button type="submit" class="btn btn-primary">Actualizar</button>

    </form>
  </div>
</div>
</body>
</html>