<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Noticia</title>
    <link rel="stylesheet" href="/assets/css/barra.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
</head>
<body>
    
<div class="content">
  <div class="seccion-botones">
      <!-- Contenido principal de la página -->
      <a href="/admin/noticias" class="boton-derecha">Regresar</a>
  </div>
  <br> <br> <br>
  <div class="seccion-formulario">
    <h1>Editar Noticia</h1>
    <form enctype="multipart/form-data" action="/updatenoticias/<%= noticia.id %>" method="post">

        <label for="titulo">Título:</label>
        <input type="text" class="form-control" id="titulo" name="titulo" value="<%= noticia.titulo %>" required>

        <label for="fecha">Fecha:</label>
        <input type="date" class="form-control" id="fecha" name="fecha" value="<%= noticia.fecha %>" required>

        <label for="categoria">Categoría:</label>
        <select class="form-control" id="categoria" name="categoria" multiple required>
            <!-- Opciones de categorías -->
            <option value="categoria1" <%= noticia.categoria.includes('categoria1') ? 'selected' : '' %>>Categoría 1</option>
            <option value="categoria2" <%= noticia.categoria.includes('categoria2') ? 'selected' : '' %>>Categoría 2</option>
            <!-- Agrega más opciones según sea necesario -->
        </select>

        <label for="descripcion">Descripción:</label>
        <div class="form-control">
            <input type="hidden" id="x" name="descripcion" value="<%= noticia.descripcion %>">
            <trix-editor input="x"></trix-editor>
        </div>
        <!-- <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required><%= noticia.descripcion %></textarea> -->

        <label for="imagen">Imagen:</label>
        <!-- Muestra la imagen actual si existe -->
        <% if (noticia.imagen) { %>
            <img src="/uploads/noticias/<%= noticia.imagen %>" alt="Imagen actual" style="max-width: 200px; max-height: 200px;">
        <% } %>
        <input type="file" class="form-control-file" id="imagen" name="imagen" accept="image/*" >

        <button type="submit" class="btn btn-primary">Actualizar</button>

    </form>
  </div>
</div>
</body>
</html>
